@using MvcContrib.UI.Grid;
@using PagedList;
@using PagedList.Mvc;
@model List<Tavi.BoMayToChuc.ModelEx.ThongTinCanBo>

@using Tavi.Core.HtmlEx;
    <div class="table-responsive text-nowrap" id="div-users-add-group" style="height:650px">
        @Html.Grid(Model).Columns(column =>
   {
       column.For(m => Html.CheckBoxEx("ckbUser", "", false, false,new { id = "ckbUser-" + m.CanBoId, value = m.CanBoId })).Named(Html.CheckBoxEx("checkAllUser", "").ToHtmlString()).Attributes(style => "text-align:center;").HeaderAttributes(style => "text-align:center;");
       column.For(m => m.HoVaTen).Named("Tên cán bộ").Attributes(style => "width:25%").HeaderAttributes(style => "text-align:center;");
       column.For(m => m.TenDangNhap).Named("Tên đăng nhập").Attributes(style => "width:25%").HeaderAttributes(style => "text-align:center;");
       column.For(m => m.TenPhongBan).Named("Phòng ban").Attributes(style => "width:25%").HeaderAttributes(style => "text-align:center;");
       column.For(m => m.TenChucVu).Named("Chức vụ").Attributes(style => "width:25%").HeaderAttributes(style => "text-align:center;");
   }).RenderUsing(new CustomHtmlTableGridRenderer<Tavi.BoMayToChuc.ModelEx.ThongTinCanBo>(Model.Count > 10 ? Model.Count : 10)).Attributes(style => "width:100%").Attributes(@class => "table table-bordered table-head-fixed").Empty("Chưa có dữ liệu")
    </div>
<script>
    $("#div-users-add-group").slimScroll({height: 650})
</script>

