<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header text-primary">
                <span>
                    CHI TIẾT THÔNG TIN VI PHẠM
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <span>Công ty:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Nội dung vi phạm:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Thời gian:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Địa điểm:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Hình ảnh:</span>
                        <div class="border" style="width:1000px; height:300px">
                            Image
                        </div>
                    </div>
                </div>
                <div>
                    <span class="text-bold">Trạng thái:</span>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Đã thông báo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="">
                            <label class="form-check-label">Đã tạo biên bản xử lý</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">Đã xử lý</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row text-center">
                    <div class="col-md-3">
                        <a class="btn btn-outline-primary" href="#" role="button">Tạo thông báo</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-outline-primary" href="#" role="button">Tạo biên bản</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-outline-primary" href="#" role="button">Đã xử lý</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-outline-primary" href="#" role="button">Ghi lại</a>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-outline-primary" href="/MRS/BCViPham/Index" role="button">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>