<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header text-primary">
                <span>
                    DANH SÁCH XE VẬN CHUYỂN KHOÁNG SẢN
                </span>
            </div>
            <div class="card-body">
                <div class="col-md-12 text-center">
                    <table class="table table-bordered table-head-fixed">
                        <thead>
                            <tr>
                                <th style="width:5%;">STT</th>
                                <th style="width:35%">Biển số xe</th>
                                <th style="width:30%">Ngày vào</th>
                                <th style="width:30%">Ngày ra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>99C-999.99</td>
                                <td>8h30 20/11/2019</td>
                                <td>9h 20/11/2019</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>99C-999.99</td>
                                <td>13h30 20/11/2019</td>
                                <td>14h30 20/11/2019</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-outline-primary" href="#" role="button">Xuất dữ liệu Exel</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-outline-primary" href="#" role="button">Xuất dữ liệu Word</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-primary" href="#" role="button">Xuất dữ liệu PDF</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-primary" href="#" role="button">In dữ liệu</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-primary" href="/MRS/BCXeVaoMo/Index" role="button">Quay lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>