<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header text-primary">
                <span>
                    CHI TIẾT HÌNH ẢNH CAMERA
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <span>Công ty:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Nội dung vi phạm:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Thời gian:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Địa điểm:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Mô tả vi phạm:..............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Hình ảnh:</span>
                        <div class="row">
                            <div class="col-md-1 text-center">
                                <i class="fas fa-chevron-left text-lg pt-5"></i>
                            </div>
                            <div class="border col-md-6" style="width:1000px; height:300px">
                                Image
                            </div>
                            <div class="col-md-1 text-center">
                                <i class="fas fa-chevron-right text-lg pt-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a class="btn btn-outline-primary" href="" role="button">Tạo biên bản</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn-outline-primary" href="" role="button">Xem video</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn-outline-primary" href="/MRS/CameraHAViPham/Index" role="button">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>