<div class="col-md-12 text-center">
    <span>
        DANH SÁCH DOANH NGHIỆP KHAI THÁC KHOÁNG SẢN TRÊN ĐỊA BÀN ....
    </span>
</div>
<div class="col-md-12 text-center">
    (Từ ngày ........... đến ............)
</div>
<div class="col-md-12 text-center">
    111111111111
</div>
