<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th style="width:5%;" class="bg-info text-center">STT</th>
            <th style="width:35%" class="bg-info">Địa chỉ</th>
            <th style="width:10%" class="bg-info">Trữ lượng còn lại</th>
            <th style="width:20%" class="bg-info">Trữ lượng khai thác năm</th>
            <th style="width:10%" class="bg-info">Trữ lượng mỏ</th>
            <th style="width:10%" class="bg-info">Loại khoáng sản</th>
            <th style="width:10%" class="bg-info">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mỏ than Đông Rì, xã Thanh Sơn và xã Thanh Luận</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Than</td>
            <td>Kết nối</td>
        </tr>
    </tbody>
</table>
