<table class="table table-bordered table-head-fixed">
    <thead>
        <tr>
            <th style="width:5%;" class="bg-info text-center">STT</th>
            <th style="width:35%" class="bg-info">Biển số xe</th>
            <th style="width:15%" class="bg-info">Khối lượng xe</th>
            <th style="width:15%" class="bg-info">Khối lượng hàng</th>
            <th style="width:20%" class="bg-info">Trạng thái</th>
            <th style="width:10%" class="bg-info">Đăng kiểm</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="/MRS/DanhSachDoanhNghiep/ChiTietXe">98C-123.45</a></td>
            <td>2000</td>
            <td>50000</td>
            <td>Đã duyệt - đồng ý</td>
            <td></td>
        </tr>
    </tbody>
</table>
