<table class="table table-bordered table-head-fixed">
    <thead>
        <tr>
            <th style="width:5%;" class="bg-info text-center">STT</th>
            <th style="width:15%" class="bg-info">Số quyết định</th>
            <th style="width:30%" class="bg-info">Cơ quan ban hành</th>
            <th style="width:10%" class="bg-info">Người ký</th>
            <th style="width:20%" class="bg-info">Diện tích/trữ lượng</th>
            <th style="width:10%" class="bg-info">Đính kèm</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="/MRS/DanhSachDoanhNghiep/ChiTietGiayPhep">1831/UBND</a></td>
            <td>UBND Tỉnh Bắc Giang</td>
            <td>Lại Thanh Sơn</td>
            <td>6,5</td>
            <td></td>
        </tr>
    </tbody>
</table>
