<div class="table-lv">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:10%;"></th>
                <th style="width:50%">Tên ngành nghề</th>
                <th style="width:40%">Mã ngành</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <form>
                        <input type="checkbox">
                    </form>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
