<div class="row pt-3">
    <div class="col-md-3 text-bold">
        <span>Cho phép hoạt động</span>
    </div>
    <div class="form-group col-md-9">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1">
            <label class="form-check-label">Hoạt động</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1">
            <label class="form-check-label">Khóa tài khoản truy cập</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1">
            <label class="form-check-label">Khóa thiết bị kết nối</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radio1">
            <label class="form-check-label">Dừng hoạt động</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Khóa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="mã tự động gen cho mỗi doanh nghiệp">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Mã kết nối</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="gen theo khóa + quy luật định nghĩa">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Ghi chú</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="">
            </div>
        </div>
        <div class="btn text-center">
            <a class="btn btn-primary" href="#" role="button">Ghi lại</a>&nbsp;&nbsp;
            <a class="btn btn-outline-primary" href="#" role="button">Ghi và gửi thông báo</a>
        </div>
    </div>
</div>
