<table class="table table-bordered table-head-fixed">
    <thead>
        <tr>
            <th style="width:5%;" class="bg-info text-center">STT</th>
            <th style="width:25%" class="bg-info">Họ và tên</th>
            <th style="width:25%" class="bg-info">Tên đăng nhập</th>
            <th style="width:20%" class="bg-info">Chức vụ</th>
            <th style="width:15%" class="bg-info">Điện thoại</th>
            <th style="width:10%" class="bg-info">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="/MRS/DanhSachDoanhNghiep/ChiTietTaiKhoan">Lê Anh Đức</a></td>
            <td>ducla</td>
            <td>Nhân viên</td>
            <td>097777777</td>
            <td>Còn sử dụng</td>
        </tr>
    </tbody>
</table>
