<table class="table table-bordered table-head-fixed">
    <thead>
        <tr>
            <th style="width:5%;" class="bg-info text-center">STT</th>
            <th style="width:15%" class="bg-info">Mã thiết bị</th>
            <th style="width:25%" class="bg-info">Tên thiết bị</th>
            <th style="width:25%" class="bg-info">Vị trí</th>
            <th style="width:20%" class="bg-info">Mục đích sử dụng</th>
            <th style="width:10%" class="bg-info">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="/MRS/DanhSachDoanhNghiep/ChiTietThietBi">Camera01</a></td>
            <td>Camera 01</td>
            <td>Trước barrie</td>
            <td>Quan sát biển số xe</td>
            <td>Kết nối</td>
        </tr>
    </tbody>
</table>
