<table class="table table-bordered table-head-fixed">
    <thead>
        <tr>
            <th style="width:5%;" class="bg-info text-center">STT</th>
            <th style="width:35%" class="bg-info">Tên thủ tục hành chính</th>
            <th style="width:15%" class="bg-info">Hiệu lực đến</th>
            <th style="width:15%" class="bg-info">Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="/MRS/DanhSachDoanhNghiep/ChiTietThuTucHC">Cấp giấy phép khai thác khoáng sản</a></td>
            <td>20//11/2020</td>
            <td>Còn hiệu lực</td>
        </tr>
    </tbody>
</table>
