<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header text-primary">
                <span>
                    THÔNG TIN XE VẬN CHUYỂN
                </span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Biển số xe: <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Số quản lý</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Loại phương tiện</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Nhãn hiệu</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Số máy</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Số khung</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Năm sản xuất</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Niên hạn sử dụng <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Khối lượng bản thân <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Khối lượng hàng <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                            </div>
                        </div>
                        <form>
                            <div class="form-group row pt-4">
                                <label for="exampleFormControlFile1" class="col-sm-5 col-form-label">Giấy đăng kiểm &nbsp;&nbsp;<a href="#">Giấy đăng kiểm</a></label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-3 text-bold">
                                <span>Trạng thái</span>
                            </div>
                            <div class="form-group col-md-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio1">
                                    <label class="form-check-label">Chờ duyệt</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio1">
                                    <label class="form-check-label">Duyệt - Đồng ý</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radio1">
                                    <label class="form-check-label">Duyệt - Khồng đồng ý</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Lý do duyệt</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-5 border" style="height:640px">

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn text-center">
                    <a class="btn btn-primary" href="#" role="button">Duyệt thông tin</a>&nbsp;&nbsp;
                    <a class="btn btn-outline-primary" href="/MRS/DanhSachDoanhNghiep/ChiTietDoanhNghiep" role="button">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div>