<div class="card card-primary card-outline">
    <div class="card-header">
        <div class="card-title text-primary">
            Hình ảnh: Công ty TNHH Đại
        </div>
    </div>
    <div class="card-body">
        <div class="camera border" style="height:400px">
            <a href="/MRS/ManHinhTheoDoi/TheoDoiCamera">Camera</a>
        </div>
    </div>
</div>
