<div class="table-2">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:5%;">STT</th>
                <th style="width:45%">NỘI DUNG</th>
                <th style="width:30%">HÌNH ẢNH</th>
                <th style="width:20%">THỜI GIAN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div class="dropdown show">
                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Không nhận dạng</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                            <a class="dropdown-item" href="#">Đóng thông báo</a>
                        </div>
                    </div>
                </td>
                <td></td>
                <td>20/11/2019 8h30</td>
            </tr>
        </tbody>
    </table>
</div>
