<div class="table-1 table-responsive" style="max-height: 300px">
    <table class="table table-bordered table-head-fixed">
        <thead>
            <tr>
                <th style="width:5%;" class="bg-info text-center">STT</th>
                <th style="width:25%" class="bg-info">Tên thiết bị</th>
                <th style="width:40%" class="bg-info">Vị trí</th>
                <th style="width:30%" class="bg-info">Mô tả lỗi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div class="dropdown show">
                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Camera01</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                        </div>
                    </div>
                </td>
                <td>Tại khu vực đường vào 01</td>
                <td>Mất kết nối</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="dropdown show">
                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Camera01</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                        </div>
                    </div>
                </td>
                <td>Tại khu vực đường vào 01</td>
                <td>Mất kết nối</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="dropdown show">
                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Camera01</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                        </div>
                    </div>
                </td>
                <td>Tại khu vực đường vào 01</td>
                <td>Mất kết nối</td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <div class="dropdown show">
                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Camera01</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                        </div>
                    </div>
                </td>
                <td>Tại khu vực đường vào 01</td>
                <td>Mất kết nối</td>
            </tr>
        </tbody>
    </table>
</div>

