<div id="content-thongtin" class="pt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header text-primary">
                    <span>Thông tin doanh nghiệp</span>
                </div>
                <div class="card-body">
                    <span>Tên doanh nghiệp: &nbsp;&nbsp;&nbsp;Tổng Công ty Đông Bắc</span><br />
                    <span>Địa chỉ:&nbsp;&nbsp;&nbsp; SN20 - Đường Trần Nguyên Hãn - Thành phố Bắc Giang - Tỉnh Bắc Giang</span><br />
                    <span>Điện thoại: &nbsp;&nbsp;&nbsp;0977702335&nbsp;&nbsp;&nbsp; Email: &nbsp;&nbsp;&nbsp;dongbac@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header text-primary">
                    <span>Lịch sử kết nối</span>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-head-fixed">
                        <thead>
                            <tr>
                                <th style="width:5%;">STT</th>
                                <th style="width:20%">Thời gian mất kết nối</th>
                                <th style="width:20%">Thời gian kết nối lại</th>
                                <th style="width:25%">Mô tả lỗi</th>
                                <th style="width:25%">Nguyên nhân</th>
                                <th style="width:5%">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>8h30 20/11/2019</td>
                                <td>20h 20/11/2019</td>
                                <td>Mất kết nối hệ thống</td>
                                <td>Đứt dây mạng</td>
                                <td>
                                    <div class="dropdown show">
                                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus text-dark text-lg"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                                            <a class="dropdown-item" href="#">Đóng thông báo</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header text-primary">
                    <span>Lịch sử cảnh báo</span>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-head-fixed">
                        <thead>
                            <tr>
                                <th style="width:5%;">STT</th>
                                <th style="width:30%">Nội dung</th>
                                <th style="width:15%">Hình ảnh</th>
                                <th style="width:15%">Thời gian</th>
                                <th style="width:25%">Kết quả xử lý</th>
                                <th style="width:5%">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Xe đi ngoài vùng phạm vi quy định</td>
                                <td></td>
                                <td>8h30 20/11/2019</td>
                                <td>Tạo biên bản xử lý</td>
                                <td>
                                    <div class="dropdown show">
                                        <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus text-dark text-lg"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/GuiThongBao">Gửi thông báo</a>
                                            <a class="dropdown-item" href="/MRS/ManHinhTheoDoi/TaoBienBanXuPhat">Tạo biên bản xử lý</a>
                                            <a class="dropdown-item" href="#">Đóng thông báo</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>