<div id="thongbaoxuphat">
    <div class="card card-primary card-outline">
        <div class="card-header text-primary">
            TẠO BIÊN BẢN XỬ PHẠT
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <span>Tên đơn vị tài khoản login</span><br/>
                    <span>Tên phòng tài khoản login</span><br/>
                    <hr style="width:20%;float:left; background-color:black;">
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <div class="text-bold">
                            <span>
                                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                            </span><br />
                            <span>Độc lập - Tự do - Hạnh phúc</span><br />
                        </div>
                        <hr style="width:80%; background-color:black; margin-left:40px"><br />
                        <span>Bắc Giang, Ngày...tháng...năm......</span>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-12">
                    <div class="text-center text-bold pt-4">
                        <span>
                            BIÊN BẢN
                        </span><br />
                        <span>
                            VỀ VIỆC VI PHẠM QUY ĐỊNH VẬN HÀNH, KHAI THÁC QUẢN LÝ KHOÁNG SẢN
                        </span>
                    </div>
                    <div class="pt-5">
                        <span>
                            Vào lúc (giờ), ngày ( ngày), tháng (tháng), năm ( năm)
                        </span><br />
                        <span>
                            - Họ tên, đơn vị, chức vụ người lập biên bản: (tên tài khoản login), (tên đơn vị), (tên chức vụ)
                        </span><br />
                        <span>
                            - Đơn vị lập biên bản: (lấy tên doanh nghiệp vi phạm)
                        </span><br />
                               <div class="pt-3">
                                   <span class="text-bold">
                                       Tiến hành lập biên bản với những nội dung sau:
                                   </span>
                               </div>
                        <span>
                            - Thời gian, địa điểm xảy ra vụ việc: (lấy thời gian và địa điểm tự động theo báo lỗi)
                        </span><br />
                        <span>
                            Diễn biến của vụ việc xảy ra: ( lấy tự động mô tả lỗi )
                        </span><br />
                        <div class="form-group  pt-3">
                            <label>Ý kiến người lập biên bản( nếu có)</label>
                            <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ý kiến đơn vị lập biên bản( nếu có)</label>
                            <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                        <span>Biên bản này được lập thành 2 bản. Một bản do người lập biên bản giữ, một bản do đơn vị bị lập biên bản giữ.</span><br />
                        <div class="row pt-3 pb-5">
                            <div class="col-md-4 text-center">
                                <span>NGƯỜI LẬP BIÊN BẢN</span><br />
                                <span>(Ký và ghi rõ họ tên)</span>
                            </div>
                            <div class="col-md-4 text-center">
                                <span>ĐƠN VỊ VI PHẠM</span><br />
                                <span>(Ký và ghi rõ họ tên)</span>
                            </div>
                            <div class="col-md-4 text-center">
                                <span>LÃNH ĐẠO ĐƠN VỊ</span><br />
                                <span>(Ký và ghi rõ họ tên)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="width:97%;text-align:center; margin-top:50px">
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a class="btn btn-outline-primary" href="#" role="button">Gửi Thông Báo</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-outline-primary" href="#" role="button">Xuất dữ liệu ra Word</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-outline-primary" href="/MRS/ManHinhTheoDoi/ChiTietDoanhNghiep" role="button">Quay Lại</a>
                </div>
            </div>
        </div>
    </div>
</div>