<footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="tamviet.com.vn">Công ty TNHH tư vấn đầu tư và phát triển Tâm Việt</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 4.0
    </div>
</footer>