<div class="col-md-12 text-center">
    <span>
        BÁO CÁO TỔNG HỢP TRỮ LƯỢNG KHAI THÁC KHOÁNG SẢN
    </span>
</div>
<div class="col-md-12 text-center">
    (Từ ngày ........... đến ............)
</div>
<div class="col-md-12 text-center">
    <table class="table table-bordered table-head-fixed">
        <thead>
            <tr>
                <th style="width:5%;">STT</th>
                <th style="width:30%">Tên doanh nghiệp</th>
                <th style="width:10%">Loại khoáng sản</th>
                <th style="width:10%">Tổng trữ lượng</th>
                <th style="width:15%">Công suất khai thác</th>
                <th style="width:15%">Trữ lượng khai thác</th>
                <th style="width:15%">Trữ lượng còn lại</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Công ty ABC</td>
                <td>Than</td>
                <td>90.000</td>
                <td>10.000</td>
                <td>80.000</td>
                <td>10.000</td>
            </tr>
        </tbody>
    </table>
</div>
