<div class="row pt-3">
    <div class="form-group col-md-12">
        <label for="exampleInputEmail1">Tiêu đề</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
    </div>
    <div class="form-group col-md-12 pb-4">
        <label for="exampleInputEmail1">Nội dung</label>
        <textarea class="form-control" rows="4" placeholder=""></textarea>
    </div>
    <span>Tài liệu kèm theo</span>
</div>
