<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header text-primary">
                <span>NHẬN BÁO CÁO TỪ DOANH NGHIỆP</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <span>Doanh nghiệp:.............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Tiêu đề:.............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Nội dung:.............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Ngày gửi:.............................................</span>
                    </div>
                    <div class="col-md-12">
                        <span>Tệp đính kèm:.............................................</span>
                    </div>
                    <div class="col-md-12 pt-4">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Doanh nghiệp khác</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nội dung thông báo</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div id="list-baocao">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div id="list-noidungbc">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $.ajax({
        url: "/MRS/NhanThongBao/_BaoCaoDoanhNghiep",
        type: "GET",
        dataType: "html",
        success: function (data) {
            console.log(data);
            $("#list-baocao").html(data);
        },
        error: function (data) {
            console.log("Has error");
        }
    })
    $("#profile-tab").click(function () {
        $("#list-noidungbc").load("/MRS/NhanThongBao/_NoiDungBaoCao").show();
    });
</script>